@import "../abstracts/mixin";
/*contacto*/

.ficha-contacto {
    @include hyw(100%, 100vw);
    padding: 40px;
    background-image: url(../images/artistico3.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    position: relative;
    @include center;
    color: rgb(255, 255, 255);
}

.card-contacto {
    @include hyw(100%, 100%);
    flex-direction: column;
    padding: 30px 90px;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: rgb(196, 196, 196);
    background-color: #e8e8e8;
    background-image: url(../images/burbujas.gif);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;

    h1 {
        font-size: 60px;
        color: rgb(6, 6, 6);
        @include center;
        display: flex;
        padding: 10px;
    }

    h2 {
        font-size: 40px;
        color: rgb(173, 139, 1);
        padding: 10px;
    }

    p {
        color: #000000;
        font-size: 25px;
    }

    ul {
        padding-left: 30px;
        list-style: square;
        color: rgb(0, 0, 0);

    }

    li {
        color: #000000;
        font-size: 25px;
        list-style: none;
        padding: 10px;
    }

    button {
        @include hyw(50px, 230px);
        @include center;
        position: relative;
        background-color: #25D366;
        border-radius: 10px;

        &:hover {
            transform: scale(1.02);
        }
    }
}

@media screen and (max-width:500px) {
    .ficha-contacto {
        @include hyw(100%, 100vw);
        padding: 20px;
        background-image: url(../images/artistico3.jpg);
        background-size: cover;
        position: relative;
        display: flex;
        position: relative;
        @include center;
        color: rgb(255, 255, 255);
    }

    .card-contacto {
        @include hyw(100%, 100%);
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
        justify-content: space-evenly;
        border-radius: 20px;
        background-color: rgb(196, 196, 196);
        opacity: 90%;

        h1 {
            font-size: 50px;
            color: rgb(0, 0, 0);
            @include center;
            display: flex;
            padding: 10px;
        }

        h2 {
            font-size: 40px;
            color: rgb(173, 139, 1);
            padding: 10px;
        }

        p {
            color: #000000;
            font-size: 25px;
        }

        ul {
            padding-left: 30px;
            list-style: square;
            color: rgb(0, 0, 0);
        }

        li {
            color: #000000;
            font-size: 40px;
            text-decoration: none;
        }

        button {
            @include hyw(50px, 100%);
            @include center;
            position: relative;
            background-color: #25D366;
            border-radius: 10px;
        }
    }
}